<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" scan="true" scanPeriod="30 seconds">
    <!--<springProperty scope="context" name="logLevel" source="log.level"/>-->
    <springProperty scope="context" name="logPath" source="farelog.path" defaultValue="./logs" />
    <springProperty scope="context" name="appName" source="farelog.name" defaultValue="monitor" />
    <springProperty scope="context" name="logHistoryDays" source="farelog.history-days" defaultValue="10" />

    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>

    <property name="console_log_pattern"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(){faint} %clr([%X{tid} %X{userId}]){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} [%M][%L] %clr(:){faint} %m%n%wex"/>

    <property name="file_log_pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- }  [%X{tid} %X{userId}] [%t] %-40.40logger{39}[%M][%L] : %m%n%wex"/>

    <property name="msg_log_pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} : %m%n%wex"/>
    <property name="log_home" value="${logPath}"/>
    <property name="logging_dir" value="${log_home}/"/>
    <property name="history_log_dir" value="${log_home}/history/%d{yyyy-MM-dd}"/>
    <property name="app_name" value="${appName}"/>
    <property name="logging_prefix" value="${logging_dir}/${app_name}"/>
    <property name="history_prefix" value="${history_log_dir}/${app_name}"/>
    <property name="log_size" value="30MB"/>
    <property name="log_history_days" value="${logHistoryDays}"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${console_log_pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>


    <appender name="INFO_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${file_log_pattern}</pattern>
        </encoder>
        <file>${logging_prefix}.info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${history_prefix}.info.%d{yyyy-MM-dd-HH-mm}-%i.log</FileNamePattern>
            <MaxHistory>${log_history_days}</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log_size}</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <appender name="ERROR_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${file_log_pattern}</pattern>
        </encoder>
        <file>${logging_prefix}.error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${history_prefix}.error.%d{yyyy-MM-dd-HH-mm}-%i</FileNamePattern>
            <MaxHistory>${log_history_days}</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log_size}</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="MESSAGE_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${msg_log_pattern}</pattern>
        </encoder>
        <file>${logging_prefix}.message.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${history_prefix}.message.%d{yyyy-MM-dd-HH-mm}-%i.log</FileNamePattern>
            <MaxHistory>1</MaxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${log_size}</maxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <logger name="MESSAGE_TRACK">
        <!--使用哪一个Appender-->
        <appender-ref ref="MESSAGE_FILE" />

    </logger>

    <!-- 日志输出级别 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFO_FILE"/>
        <appender-ref ref="ERROR_FILE"/>
    </root>

</configuration>